#validator-output .valid {
    color: green;
}
#validator-output .invalid {
    color: red;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}
